<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>


<body>

<header id="header"></header>

 <main>
     <header>
         <h1>첫번째 글</h1>
     </header>

     <aside>
         <p>Sap</p>
         <p><a href="mailto:zero013@naver.com">sab@mail.com</a></p>
         <p><time datetime="2023-07-01T00:00:00">2023-01-01</time></p>
         <p>#java</p>
     </aside>


     <section>
         <p>본문<br><br></p>

         <div>
             <form action="">
                 <label for="articleComment" hidden="hidden">댓글</label>
                 <textarea id="articleComment" placeholder="댓글을 입력하세요"></textarea>
                 <button type="submit">쓰기</button>
             </form>

             <ul>
                 <li>
                     <div>
                         <time><small>2022-01-01</small></time>
                         <strong>Sab</strong>
                         <p>
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, similique.
                         </p>
                     </div>
                 </li>
                 <li>
                     <div>
                         <time><small>2022-01-01</small></time>
                         <strong>Sab</strong>
                         <p>
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, ea.
                         </p>
                     </div>
                 </li>
             </ul>
         </div>

         <nav>
             <a href="#">이전 글</a>
             <a href="#">다음 글</a>
         </nav>
     </section>

 </main>

<footer id="footer"></footer>
</body>
</html>